<% layout('../layout') -%>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"><%=translation.my_account%></a>
  <a href="#"><%=translation.home%></a>
  <a href="#"><%=translation.briefs%></a>
  <a href="/brief/create"><%=translation.briefs%></a>
  <a href="/brief/explore"><%=translation.briefs%></a>

  <a href="#">Contact</a>
</div>

<div id="main">
  <header>
    <span onclick="openNav()">open</span>
    <li><a href="?clang=fr">Francais</a></li>
    <li><a href="?clang=en">English</a></li>
    <p><%=translation.WELCOME_MSG%></p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  </header>
  <div id="content">
    <%- body %>
  </div>
</div>
